@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="Stylesheet" />
    <link href="~/Content/css/mainfont.css" rel="Stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>工会日常工作管理系统</title>
</head>
<body>
    
    
    
    
    

    <form action="/Login/LoginAction" method="post">
        <div class="container">
            <div class="jumbotron">
                <h2>登录您的工会日常工作管理系统</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div>更有效的职工管理</div>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="glyphicon glyphicon-ok"></span> 一切都井井有条</li>
                            <li><span class="glyphicon glyphicon-ok"></span> 更方便的人员管理</li>
                            <li><span class="glyphicon glyphicon-ok"></span> 员工福利发放</li>
                            <li><span class="glyphicon glyphicon-ok"></span> 事务信息快速通知</li>
                            <li><span class="glyphicon glyphicon-ok"></span> 更多惊喜等着您</li>
                            <li>@Html.ActionLink("还没有注册？快来创建一个！", "SignUpIndex", "SignUp")</li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        @* 教职工登录Tab *@
                        <div class="tab-pane active in" id="login">
                            <form>

                                <div class="form-group">
                                    <label>登录名</label>
                                    <input name="UserName" type="text" class="form-control" placeholder="输入您的登录名">
                                </div>


                                <div class="form-group">
                                    <label>密码</label>
                                    <input name="PassWord" type="password" class="form-control" placeholder="填写密码">
                                </div>

                                <button type="submit" class="btn btn-primary btn-sm">登录</button>
                                <button type="reset" class="btn btn-warning  btn-sm">重置</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    @*<div class="container">
        <div class="row">
            <div class="span12">
                <div class="" id="loginModal">

                    <div class="modal-header">                
                        <h3>Have an Account?</h3>
                    </div>

                    <div class="modal-body">
                        <div class="well">

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                                <li><a href="#create" data-toggle="tab">Create Account</a></li>
                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane active in" id="login">
                                    <form class="form-horizontal" action='' method="POST">
                                        <fieldset>
                                            <div id="legend">
                                                <legend class="">Login</legend>
                                            </div>
                                            <div class="control-group">
                                                <!-- Username -->
                                                <label class="control-label" for="username">Username</label>
                                                <div class="controls">
                                                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <!-- Password-->
                                                <label class="control-label" for="password">Password</label>
                                                <div class="controls">
                                                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                                                </div>
                                            </div>


                                            <div class="control-group">
                                                <!-- Button -->
                                                <div class="controls">
                                                    <button class="btn btn-success">Login</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>




                                <div class="tab-pane fade" id="create">
                                    <form id="tab">
                                        <label>Username</label>
                                        <input type="text" value="" class="input-xlarge">
                                        <label>First Name</label>
                                        <input type="text" value="" class="input-xlarge">
                                        <label>Last Name</label>
                                        <input type="text" value="" class="input-xlarge">
                                        <label>Email</label>
                                        <input type="text" value="" class="input-xlarge">
                                        <label>Address</label>
                                        <textarea value="Smith" rows="3" class="input-xlarge"></textarea>

                                        <div>
                                            <button class="btn btn-primary">Create Account</button>
                                        </div>
                                    </form>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
</body>
</html>